<h1>Create a Portfolio Item</h1>

<%= form_for(@portfolio_item) do |form| %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :portfolio_item_title %>
  </div>

  <div class="field">
    <%= form.label :subtitle %>
    <%= form.text_field :subtitle, id: :portfolio_item_sub_title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body, id: :portfolio_item_body %>
  </div>

  <div class="field">
    <%= form.label :main_image %>
    <%= form.text_area :main_image, id: :portfolio_item_main_image %>
  </div>

  <div class="field">
    <%= form.label :thumb_image %>
    <%= form.text_area :thumb_image, id: :portfolio_item_thumb_image %>
  </div>

  <ul>
    <%= form.fields_for :technologies do |t| %>
      <li>
        <%= t.label :name %>
        <%= t.text_field :name %>
      </li>
    <% end %>
  </ul>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
